<!DOCTYPE html>
<html>

<head>

<title>Lessons</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/static/css/style.css">

<!-- Browser tab icon -->
    <link rel="icon" type="image/webp" href="/static/images/ucg_logo.webp">

</head>


<body>


<header class="topbar">

    <div class="logo">
        Urban Coders Guild
    </div>


    <nav class="nav-links">

        <a href="/" class="nav-item">
            Dashboard
        </a>

        <a href="/lessons" class="nav-item active">
            Lessons
        </a>

        <a href="/exercises" class="nav-item">
            Exercises
        </a>

        {% if logged_in %}
        <a href="/profile" class="nav-item">Profile</a>

        <a href="/logout" class ="nav-item">
            Logout
        </a>

        {% else %}
        <a href="/login" class="nav-item">Profile</a>
        {% endif %}


    </nav>


</header>



<div class="page">


<main class="main content-page">


<section class="page-header">

    <h1>
        Coding Lessons
    </h1>


    <p>
        Learn programming concepts through guided lessons and examples.
    </p>

</section>



<section class="card-grid">


{% for lesson in lessons.values() %}


<div class="content-card
{% if lesson.id in completed_lessons %}
completed-card
{% endif %}
">


<div class="card-number">
    {% if lesson.lesson_number == "0.5" %}
    Lesson 0.5
    {% else %}
    Unit {{ lesson.lesson_number }}
    {% endif %}
</div>


<h2>

{{ lesson.title }}

{% if lesson.id in completed_lessons %}

✅

{% endif %}

</h2>


<p class="unit-description">
    {% for description_line in lesson.description.split('\n') %}
    <span>{{ description_line }}</span>
    {% endfor %}
</p>



<a href="/lesson/{{ lesson.id }}/1">

<button>

{% if lesson.id in completed_lessons %}

{% if lesson.lesson_number == "0.5" %}Review Lesson →{% else %}Review Unit →{% endif %}

{% else %}

{% if lesson.lesson_number == "0.5" %}Start Lesson →{% else %}Start Unit →{% endif %}

{% endif %}

</button>

</a>


</div>


{% endfor %}


</section>


</main>


</div>


</body>

</html>
